#facebook_block {
     z-index:10999;
    -webkit-animation: fadeinright 2.4s;
    -moz-animation: fadeinright 2.4s;
    -ms-animation: fadeinright 2.4s;
    -o-animation: fadeinright 2.4s;
    animation: fadeinright 2.4s;
    position:fixed;
    padding:0;
    top:35%;
    right:0;
    margin-right:-258px;
    width:auto;
    height:310px;
    overflow: hidden;
    background: none;
    -webkit-transition: all 240ms linear;
    -moz-transition: all 240ms linear;
    -ms-transition: all 240ms linear;
    -o-transition: all 240ms linear;
    transition: all 240ms linear;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    transform:rotate(-90deg);
}

#facebook_block:hover {
    margin-right:0;
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}

#facebook_block h4 {
    background:#39599f;
    padding: 15px 10px 14px 30px;
    margin: 0;
    position:relative;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    font-size:18px;
    color: #ffffff; 
}

#facebook_block h4:before {
  position:absolute;
    right:8px;
    top:9px;
    background:#ffffff;
    width:30px;
    height:30px;
    display: inline-block;
    color: #39599f;
    text-align: center;
    padding-top:8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    font-size: 16px;
    content: "\f09a";
    font-family: "FontAwesome";
    -webkit-transition: all 240ms linear;
    -moz-transition: all 240ms linear;
    -ms-transition: all 240ms linear;
    -o-transition: all 240ms linear;
    transition: all 240ms linear;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    transform:rotate(90deg);
}
#facebook_block:hover h4:before {
    -webkit-transform:rotate(0deg);
    -moz-transform:rotate(0deg);
    -ms-transform:rotate(0deg);
    -o-transform:rotate(0deg);
    transform:rotate(0deg);
}

#facebook_block .facebook-fanbox {
    background: white;
    border-style: solid;
    border-color:#e5e5e5;
    border-width: 0px 1px 4px 1px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    padding-bottom: 10px; 
}