body {
    background: #434343;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-size: cover;
    padding: 0;
    left: 0px;
    right: 0px;
    margin-left: auto!important;
    margin-right: auto!important;
    max-width: 1600px!important;
    min-width: 345px;
}
.body-back {
    background: #434343;
    font-family:'Open Sans', sans-serif;
    margin: 0;
    overflow:hidden;
    max-width:1600px;
}
/*
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
*/
/*Header*/
.panel {
    margin-bottom: 0px;
    background: #313335!important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: 100% !important;
    width: 15.625em !important;
    transition: left 300ms ease;
    border: 0 solid transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-align: left;
    padding: 34px 0px 0px;
    z-index:999;
}
.exitmenu {
    margin-right: 15px;
    text-align: right;
    margin-top: -15px; 
}
.logoholder {
    position: static; 
    right: 0; 
    left: 0; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 20px;
    margin-bottom: 15px;
    width: 170px; 
    height:95px;
}
.rev-logo {
    background: url(../images/rev-logo-white.png) no-repeat 0px 0px;
    width:100%;
    height:100%;
    background-size: cover;
}
.rev-logo:hover {
    transform: rotateY(360deg);
    background: url(../images/rev-logo-red.png) no-repeat 0px 0px;
    width:100%;
    height:100%;
    background-size: cover;
    transition:.5s all;
}
.wrap-content {
    width: 87%;
    margin: 0 auto;
}
.wrap {
    position:relative;
}
.social-icon {
    margin-top: 2em;
    text-align: center;
}
.social-icon a i {
    width: 32px;
    height: 32px;
    background:#434343 url(../images/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
    margin:0 0.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 16px;
}
.social-icon i.icon:hover {
    background: rgb(163, 35, 0) url(../images/img-sprite.png) no-repeat 0px 0px;
    transform: rotateY(360deg);
}
.social-icon i.icon {
    background-position: 0px 0px;
}
.social-icon i.icon1 {
    background-position: -32px 0px;
}
.social-icon i.icon1:hover {
    background: rgb(163, 35, 0) url(../images/img-sprite.png) no-repeat -32px 0px;
    transform: rotateY(360deg);
}
.social-icon i.icon2 {
    background-position: -64px 0px;
}
.social-icon i.icon2:hover {
    background: rgb(163, 35, 0) url(../images/img-sprite.png) no-repeat -64px 0px;
    transform: rotateY(360deg);
}
.social-icon i.icon3 {
    background-position: -96px 0px;
}
.social-icon i.icon3:hover {
    background: rgb(163, 35, 0) url(../images/img-sprite.png) no-repeat -96px 0px;
    transform: rotateY(360deg);
}
.profile-menu {
    margin-top: 30px;
}
.profile-menu h3 {
    color: #fff;
    font-size: 1.8em;
    margin: 20px 0 10px;
}
.profile-menu a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}
a.button {
    font-size: 1em;
    background: #434343;
    text-decoration: none;
    padding: 0.5em;
    color: #fff;
    display: block;
    width: 80%;
    margin: 1em auto;
}
#sticky {
    width: 100%;
    max-width: 1680px;
}
.efsae-header{
    z-index: 90;
    visibility: hidden;
}
.efsae-header-accent{
    z-index: 90;
    opacity: 1;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 56px;
    height: 10px;
    background-color: rgb(163, 35, 0);
}
.efsae-header-background {
    opacity: 1;
    width: 100%;
    height: 63px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(255, 255, 255);
}
.efsae-header-left {
    position: absolute;
    left: 19px;
    top: 9px;
    z-index: 100;
    width: 346px;
    height: 43px;
}
.efsae-header-right {
    background: url(../images/logo-1.png) no-repeat 0px 0px;
    position: absolute;
    right: 250px;
    top: 9px;
    z-index: 100;
    width: 346px;
    height: 43px;
}
.efsae-header-image-holder {
    z-index: 80;
    width: 100vw;
    max-height: 750px;
    max-width: 1600px;
    min-width: 345px;
}
.efsae-header-image {
    background: url(../images/header-background.jpg) no-repeat 0px -200px;
    background-size: cover;
    z-index: 80;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    height: 36vw;
    width: 100vw;
    max-width: 1600px;
    max-height: 520px;
    min-width: 400px;
    text-align: center;
}
@media screen and (max-width: 1595px)
{
    .efsae-header-image {
        background: url(../images/header-background.jpg) no-repeat 0px -280px;
        background-size: cover;
    }
}
@media screen and (max-width: 1500px)
{
    .efsae-header-image {
        background: url(../images/header-background.jpg) no-repeat 0px -255px;
        background-size: cover;
    }
}
@media screen and (max-width: 1400px)
{
    .efsae-header-image {
        background: url(../images/header-background.jpg) no-repeat 0px -230px;
        background-size: cover;
    }
}
@media screen and (max-width: 1100px)
{
    .efsae-header-image {
        background: url(../images/header-background.jpg) no-repeat 0px -150px;
        background-size: cover;
    }
}
@media screen and (max-width: 860px)
{
    .efsae-header-image {
        background: url(../images/header-background.jpg) no-repeat 0px -120px;
        background-size: cover;
    }
}
@media screen and (max-width: 700px)
{
    .efsae-header-image {
        background: url(../images/header-background.jpg) no-repeat 0px -100px;
        background-size: cover;
    }
}
@media screen and (max-width: 480px)
{
    .efsae-header-image {
        background: url(../images/header-background.jpg) no-repeat 0px -66px;
        background-size: cover;
    }
}
.sticky-anchor {
    height: 0px;
}
#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 90;
}
.navigation-menu-stuck {
    z-index: 90;
    padding: 0px 0;
    background:  rgb(0, 0, 0);
}
.navigation-menu {
    position: relative;
    top: 0px;
    left: 0px;
    height: 51px;
    width: 100%;
    background-color: #000;
}
.menu-left {
    position: relative;
    float: left;
    top: 15px;
    height: 25px;
    width: 9%;
    margin: 0px;
    text-align: right;
}
.menu-left i {
    font-size: 22px;
    color: #666;
}
.menu-mid {
    overflow: visible;
    position: absolute;
    left: 50%;
    margin-left: -267px;
    top: 1px;
    height: 49px;
    width: 534px;
    text-align: center;
}
.nav-buttons > .active {
    color: rgb(163, 35, 0);
}
.nav-buttons > p {
    font-size: 18px;
    font-family: 'Ubuntu', arial;
    font-weight: 600;
    margin-bottom: 3px;
}
p {
    margin: 0;
    padding: 0;
}
.nav-buttons:before {
    content: '';
    position: absolute;
    bottom: -18px;
    z-index: 96;
    background: rgb(151,151,151);
    height: 3px;
    width: 0;
    left: 0px;
    transition: .5s all;
}
.nav-buttons > .passive {
    color:#666; 
}
.nav-buttons-more > p{
    font-size:18px;  
    font-family:'Ubuntu', arial; 
    font-weight: 600; 
    margin-bottom:3px;
}
.nav-buttons-more > .active {
    color: rgb(163, 35, 0);
}
.nav-buttons-more > .passive {
    color:#666; 
}
@media only screen and (min-width: 485px) {
    .nav-buttons > .passive:hover{
        color: #999;
        top: 10px;
        transition: .2s all;
    }
    .nav-buttons > .active:hover{
        color: #999;
        top: 10px;
        transition: .2s all;
    }
    .nav-buttons:hover:before{
        /*width: 100%;*/
    }
    .nav-buttons-more > .passive:hover{
        color: #999;
        top: 10px;
        transition: .2s all;
    }
    .nav-buttons-more > .active:hover{
        color: #999;
        top: 10px;
        transition: .2s all;
    }
    .nav-buttons-more:hover:before{
        /*width: 72%;*/
    }
}
.nav-buttons-more:before {
    content: '';
    position: absolute;
    bottom: -10px;
    z-index: 96;
    background: rgb(151,151,151);
    height: 3px;
    width: 0;
    left: 12px;
    transition:.5s all;
}
.button-1 {
    position: absolute;
    visibility: visible;
    left: 0px;
    top: 12px;
    width: auto;
    height: 14px;
}
.button-2 {
    position: absolute;
    visibility: visible;
    left: 72px;
    top: 12px;
    width: auto;
    height: 14px;
}
.button-3 {
    position: absolute;
    visibility: visible;
    left: 187px;
    top: 12px;
    width: auto;
    height: 14px;
}
.button-4 {
    position: absolute;
    visibility: visible;
    left: 308px;
    top: 12px;
    width: auto;
    height: 14px;
}
.button-5 {
    position: absolute;
    visibility: visible;
    left: 415px;
    top: 12px;
    width: 120px;
    height: 14px;
}
.menu-accent {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 8px;
    width: 3px;
    height: 30px;
    background-color: rgba(151, 151, 151, 0.5);
}
.menu-accent-hiding {
    visibility: visible;
    opacity: 1;
    position: absolute;
    top: 8px;
    width: 3px;
    height: 30px;
    background-color: rgba(151, 151, 151, 0.5);
}
.menu-right {
    position: relative;
    float: right;
    top: 12px;
    height: 25px;
    width: 18%;
    margin: 0px;
    text-align: left;
}
.menu-right span {
    color: #fff;
    font-size: 15px;
    height: 50px;
    right: 0;
}
.wrapper-dropdown-2{
    margin-right: 75px;
    position: relative;
    outline: none;
    cursor: pointer;
}
.menu-accent-bottom {
    position: relative;
    opacity: 1;
    width: 100%;
    left: 0px;
    top: 48px;
    height: 3px;
    background-color: rgb(163, 35, 0);
    /*z-index: 94;*/
    /*shows above sign in form*/
}
.button-more {
    visibility: hidden;
    position: absolute;
    top: 12px;
    left: 177px;
    width: 100px;
}
@media (max-width: 800px) {
.button-more {
    visibility: visible;
}
.menu-mid {
    position: absolute;
    left:50%;
    margin-left: -132px;
    top: 1px;
    height: 49px;
    width: 264px;
    text-align: center;
    }
    .button-3 {
        visibility: hidden;
    }
    .button-4{
       visibility: hidden; 
    }
    .button-5{
        visibility: hidden; 
    }
    .button-more {
        visibility: visible;
    }
    .menu-accent-hiding{
        visibility: hidden;
    }
}
@media only screen and (max-width: 640px) {
.form {
    margin-top: 35px;
    margin-left: 0px;
    position: absolute;
    left: 50%;
    top: 70px;
    z-index:1003;
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 75%;
    padding: 20px;
    overflow: hidden;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    }
}
/*possible duplicate*/
/*@media only screen and (min-width: 485px) {
    .nav-buttons > .passive:hover{
        color: #999;
    }
    .nav-buttons > .active:hover{
        color: #999;
    }
    .nav-buttons:hover:before{
        width: 100%;
    }
    .nav-buttons-more > .passive:hover{
        color: #999;
    }
    .nav-buttons-more > .active:hover{
        color: #999;
    }
    .nav-buttons-more:hover:before{
        width: 72%;
    }
}*/
.wrapper-dropdown-2, .wrapper-dropdown-3, .wrapper-dropdown-1, .wrapper-dropdown-4, .wrapper-dropdown-5, .wrapper-dropdown-6 {
    position: relative;
    outline: none;
    cursor: pointer;
    width:100%;
}
.wrapper-dropdown-1 .dropdown, .wrapper-dropdown-3 .dropdown, .wrapper-dropdown-4 .dropdown, .wrapper-dropdown-2 .dropdown, .wrapper-dropdown-5 .dropdown {
    width:100%;
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    list-style: none;
    z-index:999;
    background-color: #000;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    max-height: 0;
    overflow: hidden;
}
.wrapper-dropdown .dropdown li {
    position: relative;
}
.wrapper-dropdown-1 .dropdown li, .wrapper-dropdown-2 .dropdown li, .wrapper-dropdown-3 .dropdown li, .wrapper-dropdown-4 .dropdown li, .wrapper-dropdown-5 .dropdown li, .wrapper-dropdown-6 .dropdown li {
    border-bottom: 1px solid #F0F0F0;
    float: none;
    margin: 0;
    width: 100%;
    text-align: left;
}
.wrapper-dropdown-1 .dropdown li, .wrapper-dropdown-3 .dropdown li, .wrapper-dropdown-4 .dropdown li, .wrapper-dropdown-2 .dropdown li, .wrapper-dropdown-5 .dropdown li, .wrapper-dropdown-6 .dropdown li {
    padding:8px;
    font-size: 22px;
}
.wrapper-dropdown-1 .dropdown li:hover, .wrapper-dropdown-2 .dropdown li:hover, .wrapper-dropdown-3 .dropdown li:hover, .wrapper-dropdown-4 .dropdown li:hover, .wrapper-dropdown-5 .dropdown li:hover, .wrapper-dropdown-6 .dropdown li:hover {
    background:#FDFDFD;
}
.wrapper-dropdown-1 .dropdown li:last-child, .wrapper-dropdown-3 .dropdown li:last-child, .wrapper-dropdown-2 .dropdown li:last-child, .wrapper-dropdown-4 .dropdown li:last-child, .wrapper-dropdown-5 .dropdown li:last-child, .wrapper-dropdown-6 .dropdown li:last-child {
    border-bottom:none;
}
.wrapper-dropdown-1 .dropdown li a, .wrapper-dropdown-2 .dropdown li a, .wrapper-dropdown-3 .dropdown li a, .wrapper-dropdown-4 .dropdown li a, .wrapper-dropdown-5 .dropdown li a, .wrapper-dropdown-6 .dropdown li a {
    display: block;
    text-decoration: none;
    color:#666;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 0;
    border: none;
}
.wrapper-dropdown-1 .dropdown li a:hover, .wrapper-dropdown-2 .dropdown li a:hover, .wrapper-dropdown-3 .dropdown li a:hover, .wrapper-dropdown-4 .dropdown li a:hover, .wrapper-dropdown-5 .dropdown li a:hover {
    color:#a32300;
}
/* Active state */
 .wrapper-dropdown-1.active:after, .wrapper-dropdown-2.active:after, .wrapper-dropdown-3.active:after, .wrapper-dropdown-4.active:after, .wrapper-dropdown-5.active:after {
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-1.active .dropdown, .wrapper-dropdown-2.active .dropdown, .wrapper-dropdown-3.active .dropdown, .wrapper-dropdown-4.active .dropdown, .wrapper-dropdown-5.active .dropdown {
    max-height: 400px;
}

/*search function*/
.search {
    background: #a32300;
    border-radius: 5px;
}
.search input[type="search"] {
    border: none;
    outline: none;
    padding: 5px 0px 5px 12px;
    font-size: 14px;
    color: #fff;
    background: none;
    width: 82%;
}
.search form input[type="submit"] {
    background: url(../images/search.png) no-repeat 8px 9px;
    width: 33px;
    height: 32px;
    border: none;
    margin: 0 0 0 -4px;
    padding:0;
    border:none;
    outline:none;
}
.cd-main-header {
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.cd-main-header {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}
.nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
}
.cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: -62px;
    right: 38%;
}
.cd-header-buttons li {
    display: inline-block;
}
.cd-search-trigger, .cd-nav-trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    z-index: 3;
}

.cd-search-trigger::before, .cd-search-trigger::after {
    content: '';
    position: absolute;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-search-trigger::before {
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #666;
}
.cd-search-trigger::after {
    height: 3px;
    width: 8px;
    background: #666;
    bottom: 14px;
    right: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-search-trigger span {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.cd-search-trigger span::before, .cd-search-trigger span::after {
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    background: #666;
    opacity: 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-search-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
    -moz-opacity: 0;
    opacity: 0;
}
.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
    -moz-opacity: 1;
    opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-search {
    position: absolute;
    width: 100%;
    top: 92%;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-search input {
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 0 5%;
    -webkit-box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1.5em;
    padding: .6em 2em;
    color: #fff;
}
.cd-search input::-webkit-input-placeholder {
    color: #fff !important;
}
.cd-search input::-moz-placeholder {
    color: #fff !important;
}
.cd-search input:-moz-placeholder {
    color: #fff !important;
}
.cd-search input:-ms-input-placeholder {
    color: #fff !important;
}
.cd-search input:focus {
    outline: none;
}
.cd-search.is-visible {   
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
/*button effects*/
a.button {
    font-size: 1em;
    background: #666;
    text-decoration: none!important;
    padding: 0.5em;
    color: #fff;
    display: block;
    width: 80%;
    margin: 1em auto;
}
/* Shutter Out Horizontal */
 .hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #4fc74f;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #a32300;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/*
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
*/
/*Body Header*/
.ftfe-body-header {
    background: url(../images/FTFE-header-horizontal.png) no-repeat 0px 0px;
    background-size: contain;
    position: relative;
    width:60%;
    height:5vw;
    left:0;
    right:0;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
.ftfe-body-header {
    background: url(../images/FTFE-header-vertical.png) no-repeat 0px 0px;
    background-size: contain;
    position: relative;
    width:45%;
    height:13vw;
    left:0;
    right:0;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    }
}
@media (max-width: 550px) {
.ftfe-body-header {
    background: url(../images/FTFE-header-vertical.png) no-repeat 0px 0px;
    background-size: contain;
    position: relative;
    width:60%;
    height:17vw;
    left:0;
    right:0;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 14px;
    }
}
.body-header-accent{
    opacity: 1;
    width: 75%;
    position: relative;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    height: 3px;
    background-color: #999;
}
/*
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
*/
/*Body*/
.home {
    position: relative;
    width: 100%;
    display: inline-block;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 2%;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}
.home:target {
    visibility: visible;
    opacity: 1;
}
.home-grid img{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.home-grid:hover img {
    webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
}
.center-image {
    width: 100%;
    max-width: 600px!important;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.about {
    position: relative;
    display: inline-block;
    width: 100%;
    left: 0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1%;
    padding-right: 1%;
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}
.about:target {
    visibility: visible;
    opacity: 1;
}
/*.about img{
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.about:hover img {
    webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
}*/
.about-text {
    text-align: justify;
    color: #999;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
.about-text-2 {
    text-align: justify;
    color: #999;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.about-half {
    float: left;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 30px;
    min-width: 300px;
    text-align: justify;
}
.equalholder { 
    float:left; 
    clear:left; 
    width:100%; 
    padding:0 0 2em; 
}
.equalheight1 {
    float:left;
}
.equalheight1 p {
    margin:.5em;
    padding:0;
}
@media (max-width: 880px) {
    .about-half {
        width:100%;
        margin-left:0;
        margin-right:0;
    }
    .equalheight1 p {
        margin:0;
        padding:0;
        max-width: 600px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (max-width: 450px) {
    .equalheight1 p {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.body-header-2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none!important;
}
.body-header-3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    /*color: rgb(163, 35, 0);*/
    color: #fff;
    text-decoration: none!important;
}
.header-link {
    text-decoration: none!important;
}
.header-link:hover {
    text-decoration: none!important;
    color: rgb(163, 35, 0);
}









/*
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
*/
/*popup*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
  opacity:1;
}
.popup .close:hover {
  color: rgb(163,35,0);
}
.popup .content {
  max-height: 30%;
  overflow: visible;
}
h1 {
   margin: 10px 0 0 0;
}
h4{
   margin: 0 0 20px 0;
}
/*
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
*/
/*Check in popup*/
#contact-form {
   background-color:rgba(50,50,50,1);
   padding: 10px 20px 15px 20px;
   max-width:100%;
   float: left;
   left: 50%;
   position: absolute;
   margin-top:30px;
   margin-left: -150.5px;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
}
#contact-form input,   
#contact-form select,   
#contact-form textarea,   
#contact-form label { 
   font-size: 15px;  
   margin-bottom: 2px;
   width:100%;
   font-family: Arial, san-serif;
} 
#contact-form input,   
#contact-form select,   
#contact-form textarea { 
   width:100%;
   background: #fff;
   border: 0; 
   -moz-border-radius: 4px;  
   -webkit-border-radius: 4px;  
   border-radius: 4px;
   margin-bottom: 25px;  
   padding: 5px;  
}  
#contact-form input:focus,   
#contact-form select:focus,   
#contact-form textarea:focus {  
   background-color: #E5E6E7; 
}  
#contact-form textarea {
   width:100%;
   height: 150px;
}
#contact-form button[type="submit"] {
   cursor:pointer;
   width:100%;
   border:none;
   background:#991D57;
   background-image:linear-gradient(bottom, rgb(163,35,0) 0%, rgb(140,35,0) 52%);
   background-image:-moz-linear-gradient(bottom, rgb(163,35,0) 0%, rgb(140,35,0) 52%);
   background-image:-webkit-linear-gradient(bottom, rgb(163,35,0) 0%, rgb(150,35,0) 52%);
   color:#FFF;
   margin:0 0 5px;
   padding:10px;
   border-radius:5px;
}
#contact-form button[type="submit"]:hover {
   background-image:linear-gradient(bottom, rgb(170,35,0) 0%, rgb(170,35,0) 52%);
   background-image:-moz-linear-gradient(bottom, rgb(170,35,0) 0%, rgb(170,35,0) 52%);
   background-image:-webkit-linear-gradient(bottom, rgb(170,35,0) 0%, rgb(170,35,0) 52%);
   -webkit-transition:background 0.3s ease-in-out;
   -moz-transition:background 0.3s ease-in-out;
   transition:background-color 0.3s ease-in-out;
}
#contact-form button[type="submit"]:active {
   box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}
input:required, textarea:required {  
   box-shadow: none;
   -moz-box-shadow: none;  
   -webkit-box-shadow: none;  
   -o-box-shadow: none;  
} 
#contact-form .required {  
   font-weight:bold;  
   color: #E5E6E7;      
}
#failure, #success {
   color: #6EA070; 
   visibility: hidden;  
}
@media only screen and (max-width: 580px) {
   #contact-form{
      left: 0;
      right:0;
      margin-right: auto;
      width: 88%;
      margin-left: auto;
      padding-left: 3%;
      padding-right: 3%;
   }
}
/*
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
<!--****************************************************************************************************-->
*/
/*Documents popup*/
#documents-holder {
   background-color:rgba(50,50,50,1);
   padding: 10px 20px 15px 20px;
   max-width:100%;
   width:80%;
   left: 0;
   right: 0;
   position: absolute;
   margin-top:30px;
   margin-left: auto;
   margin-right:auto;
   border-radius:7px;
   -webkit-border-radius:7px;
   -moz-border-radius:7px;
}
@media only screen and (max-width: 580px) {
   #documents-holder {
      left: 0;
      right:0;
      margin-right: auto;
      width: 88%;
      margin-left: auto;
      padding-left: 3%;
      padding-right: 3%;
   }
}









.cse .gsc-control-cse, .gsc-control-cse {
    padding:0!important;
    border: none!important;
}






















