#sticky {
    width: 100%;
}
#sticky.stick {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 90;
}
#sticky-2 {
    
}
#sticky-2.stick-2 {
    margin-top: 0 !important;
    position: fixed;
    top: 0;
    z-index: 90;
}
.header-accent {
    opacity: 1;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 56px;
    height: 10px;
    background-color: rgb(163, 35, 0);
    z-index: 80;
}
.header-whitespace {
    opacity: 1;
    width: 100%;
    height: 63px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgb(255, 255, 255);
}
.ieee-header {
    position: absolute;
    left: 19px;
    top: 9px;
    width: 346px;
    height: 43px;
}
.login-button {
    display: block;
    position: absolute;
    right: 23px;
    height: 23px;
    width:69px;
    margin-top:50px;
    top: -29px;
    margin-bottom: 0px;
}
.login-button-new {
    display: none;
    position: absolute;
    right: 23px;
    height: 23px;
    width:69px;
    margin-top:50px;
    top: -29px;
    margin-bottom: 0px;
}
.menu-top {
    position: relative;
    top:0px;
    left:0px;
    height:51px;
    width:100%;
    background-color: #fff;
}
.menu-top-fixed {
    position: fixed;
    height:51px;
    width:100%;
    background-color: #fff;
}
.menu-top-horizontal {
    position: relative;
    height:51px;
    width:100%;
    background-color: #fff;
}
.crimson-accent {
    position: relative;
    opacity: 1;
    width: 100%;
    left: 0px;
    top: 48px;
    height: 3px;
    background-color: rgb(163, 35, 0);
    z-index: 94;
}
.gray-accent {
    opacity: 1;
    position: absolute;
    top: 8px;
    width: 3px;
    height: 30px;
    background-color: rgba(151, 151, 151, 0.5);
}
.gray-accent-2 {
    opacity: 1;
    position: absolute;
    top: 8px;
    width: 3px;
    height: 30px;
    background-color: rgba(151, 151, 151, 0.5);
}
.button-home {
    position: absolute;
    left: 0px;
    top: 12px;
    width: 52px;
    height: 14px;
}
.button-about {
    position: absolute;
    left: 72px;
    top: 12px;
    width: 95px;
    height: 14px;
}
.button-calendar {
    position: absolute;
    left: 187px;
    top: 12px;
    width: 101px;
    height: 14px;
}
.button-more {
    visibility: hidden;
    position: absolute;
    left: 187px;
    top: 12px;
    width: 66px;
    height: 22px;
}
.button-resources {
    position: absolute;
    left: 308px;
    top: 12px;
    width: 113px;
    height: 14px;
}
.button-contact {
    position: absolute;
    left: 441px;
    top: 12px;
    width: 108px;
    height: 14px;
}
.footer {
    position: relative;
    left: 0px;
    height: 149px;
    width: 100%;
}
.footer-accent {
    top: 0px;
    opacity: 1; 
    position: relative; 
    left: calc(-50vw + 50%); 
    width: 100vw; 
    margin-bottom: 10px; 
    bottom: 0px; 
    height: 4px; 
    background-color: rgb(163, 35, 0); 
    box-shadow: rgba(0, 0, 0, 0.2) 1px 0px 7px 0px;
}
.footer-accent-hold {
    margin-top: 20px; 
    position:relative; 
    left: 0px; bottom: 30px; 
    height: 4px; 
    width:100%;
}
.footer-whitespace {
    background-color: rgb(255, 255, 255);
    opacity: 1;
    width: 100%;
    height: 145px;
    position: relative;
    left: 0px;
    top: 3px;
}
.footer2 {
    overflow:hidden; 
    margin-top: 0px; 
    position:relative; 
    left: 0px; 
    bottom: 30px; 
    height: 131px; 
    width:100%;
}
.footer-contact-holder {
    float:left; 
    margin-left: 50px; 
    margin-right: -20px; 
    margin-top: 15px; 
    width: 371px; 
    height: 115px;
}
.footer-contact {
    float: left;
    max-width: 371px;
    max-height: 115px;
}
.footer-fb-buttons {
    float:left; 
    height:65px; 
    width: 22px; 
    margin-top: 45px; 
    margin-right: 4px; 
    margin-bottom: 10px;
}
.footer-fb-chair {
    position: relative; 
    top: 0px; 
    left: 0px; 
    margin-right:4px; 
    margin-bottom: 12px; 
    width: 22px; 
    height: 22px;
}
.footer-fb-vicechair {
    top: 0px; 
    position: relative; 
    left: 0px; 
    margin-right:4px; 
    margin-left: 0px; 
    width: 22px; 
    height: 22px;
}
.footer-email-buttons {
    float:left; 
    height:65px; 
    width: 22px; 
    margin-top: 45px; 
    margin-left:4px; 
    margin-bottom: 10px;
}
.footer-email-chair {
    top: 0px; 
    position: relative; 
    margin-bottom: 12px; 
    width: 22px; 
    height: 22px;
}
.footer-email-vicechair {
    position: relative; 
    margin-left: 0px; 
    width: 22px; 
    height: 22px; 
    top: 0px;
}
.footer-copywrite-holder {
    visibility: visible;
    overflow:hidden; 
    float:left; 
    margin-bottom: 20px; 
    margin-left:-274.4px; 
    margin-right:-274.4px; 
    margin-top: 112px; 
    width:549px; 
    height: 14px;
}
.footer-logo {
    visibility: visible;
    float:right;
    right: 0px;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 21px;
    width: 162px;
    height: 85px;
}
.footer-copywrite {
    visibility: visible;
    position:absolute;
    left:50%;
    margin-bottom: 0px;
    margin-left:-274.4px;
    margin-right:-274.4px;
    width:549px;
    height: 14px;
}
.footer-fb {
    position: relative;
    width: 22px;
    height: 22px;
}
.footer-email {
    position: relative;
    width: 22px;
    height: 22px;
}
.profile-left {
    position: relative;
    float: left;
    top: 15px;
    height: 25px;
    width: 9%;
    margin: 0px;
    text-align: right;
}
.Profile-right {
    position: relative;
    float: right;
    top: 12px;
    height: 25px;
    width: 9%;
    margin: 0px;
    text-align: left;
}
/*--search--*/
.cd-main-header {
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.cd-main-header {
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-main-content.nav-is-visible, .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(-260px);
    -moz-transform: translateX(-260px);
    -ms-transform: translateX(-260px);
    -o-transform: translateX(-260px);
    transform: translateX(-260px);
}
.nav-on-left .cd-main-content.nav-is-visible, .nav-on-left .cd-main-header.nav-is-visible {
    -webkit-transform: translateX(260px);
    -moz-transform: translateX(260px);
    -ms-transform: translateX(260px);
    -o-transform: translateX(260px);
    transform: translateX(260px);
}
.cd-header-buttons {
    position: absolute;
    display: inline-block;
    top: -62px;
    right: 16%;
}
.cd-header-buttons li {
    display: inline-block;
}
.cd-search-trigger, .cd-nav-trigger {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    overflow: hidden;
    white-space: nowrap;
    color: transparent;
    z-index: 3;
}

.cd-search-trigger::before, .cd-search-trigger::after {
    /* search icon */
    content: '';
    position: absolute;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    transition: opacity 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.cd-search-trigger::before {
    /* lens */
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #CCCCCC;
}
.cd-search-trigger::after {
    /* handle */
    height: 3px;
    width: 8px;
    background: #CCCCCC;
    bottom: 14px;
    right: 11px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-search-trigger span {
    /* container for the X icon */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.cd-search-trigger span::before, .cd-search-trigger span::after {
    /* close icon */
    content: '';
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 22px;
    top: 50%;
    margin-top: -2px;
    left: 50%;
    margin-left: -11px;
    background: #CCCCCC;
    opacity: 0;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}
.cd-search-trigger span::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-search-trigger span::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.cd-search-trigger.search-is-visible::before, .cd-search-trigger.search-is-visible::after {
    /* hide search icon */
    -moz-opacity: 0;
    opacity: 0;
}
.cd-search-trigger.search-is-visible span::before, .cd-search-trigger.search-is-visible span::after {
    /* show close icon */
    -moz-opacity: 1;
    opacity: 1;
}
.cd-search-trigger.search-is-visible span::before {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
.cd-search-trigger.search-is-visible span::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.cd-search {
    position: absolute;
    width: 100%;
    top: 92%;
    left: 0;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-search input {
    border-radius: 0;
    border: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 0 5%;
    -webkit-box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, 0.05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 1.5em;
    padding: .6em 2em;
    color: #fff;
}
.cd-search input::-webkit-input-placeholder {
    color: #fff !important;
}
.cd-search input::-moz-placeholder {
    color: #fff !important;
}
.cd-search input:-moz-placeholder {
    color: #fff !important;
}
.cd-search input:-ms-input-placeholder {
    color: #fff !important;
}
.cd-search input:focus {
    outline: none;
}
.cd-search.is-visible {   
    -moz-opacity: 1;
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
/*--//search--*/