th, td {
    padding: 0;
    width: 190px;
}
h4, h5, h6, h1, h2, h3 {
    margin: 0;
}
ul, ol, li {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
}
body {
    background:#434343;
    font-family:'Open Sans', sans-serif;
    margin:0;
    background-size:cover;
    padding:0;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1680px;
    min-width: 345px;
    margin-bottom: -20px;
    overflow: hidden;
}
 h1, h2, h3, h4, h5, h6 {
    font-family:'Ubuntu', sans-serif;
}
.captn {
    padding: 0.5em;
    position: absolute;
    max-height: 200px;
    left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  bottom: -56%;
  -webkit-transition:.5s all;
  transition:.5s all;
  width: 80%;
  -moz-transition:.5s all;
}
.slideover:hover .captn{
  bottom: -60px;
}
.panel {
    margin-bottom: 0px;
    background: #313335;
    width: auto;
    height: 100% !important;
    width: 15.625em !important;
    border: 0 solid transparent !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-align: left;
    padding: 34px 0px 0px;
    z-index:999;
}
.side-nav.leftside-navigation {
    top: 64px;
    overflow: hidden;
}
.main_frame {
    text-align: center;
    position: relative;
}
.frame-border {
    width: 350px;
    height: 630px;
    outline: none;
    border: solid 20px #000000;
    border-radius: 40px;
    border-bottom: solid 80px #000;
    border-top: solid 60px #000;
}
.circle1 {
    height: 9px;
    width: 9px;
    position: absolute;
    left: 51em;
    top: 2.7em;
    background: #222;
    border-radius: 5px;
}
.camera {
    height: 7px;
    width: 7px;
    margin: auto;
    position: absolute;
    left: 56em;
    top: 1.5em;
    background: #222;
    border-radius: 5px;
}
.speaker {
    height: 7px;
    width: 90px;
    margin: 10px auto 0;
    left: 54em;
    top: 2em;
    position: absolute;
    background: #222;
    border-radius: 2px;
}
.circle-button {
    height: 40px;
    width: 40px;
    background: #272626;
    margin: 17px auto;
    border-radius: 100px;
    position: absolute;
    left: 55.5em;
    bottom: 0.5em;
}

h1.fit_tittle a {
    text-decoration:none;
    color:#fff;
    text-align:center;
}
h1.fit_tittle {
    text-align:center;
    margin-bottom:1em;
    font-size:3.5em;
    text-transform: capitalize;
}
.fit_main {
    padding:80px 0;
}
.footer p {
    color:#fff;
    font-size:14px;
    line-height:1.8em;
    text-align:center;
    margin-top:50px;
}
.footer p a {
    color:#fff;
}
.footer p a:hover {
    text-decoration:underline;
}
/*--search results--*/
.ad {
    padding: 0px 0 !important;
    margin: 0px;
    word-wrap: break-word;
}
/*.gsc-adBlock {
    padding-bottom: 0px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
#adBlock {
    background: #FFFFFF none repeat scroll 0 0;
    margin: 0;
    padding: 0;
    background-color: #fff !important;
    border-left: 1px solid #fdf6e5;
    border-right: 1px solid #fdf6e5;
    border-top: 1px solid #fdf6e5;
    border-bottom: 1px solid #fdf6e5;
}*/
.gsc-results-wrapper-overlay {
  border: none;
  margin: auto;
  border-radius: 1px;
  overflow: auto;
  height: 80%;
  -webkit-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
  -moz-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
  -ms-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
  -o-box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
  box-shadow: 0px 3px 10px rgba(34, 25, 25, 0.4);
  border-collapse: separate;
  background: white;
  padding: 30px;
  width: 80% !important;
  position: fixed !important;
  top: 10% !important;
  left: 10% !important;
  height: 83% !important;
  opacity: 0;
  z-index: 100002;
  visibility: hidden;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#888888')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=7, Direction=135, Color='#888888');
}
.gsc-modal-background-image {
  position: fixed !important;
  .stop-scrolling 
  overflow: hidden !important;
  top: 0px;
  left: 0px;
  height: 130%;
  width: 100%;
  z-index: 100001;
  background-color: black !important;
  opacity: 0;
  -ms-filter:"alpha(opacity=0)";
  filter: alpha(opacity=0);
  display: none;
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -o-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.cse .gsc-control-cse,
.gsc-control-cse {
  padding: 0em !important;
  width: auto;
}
/*--status-bar--*/
 .body-back {
    background: #fff;
    font-family:'Open Sans', sans-serif;
    margin: 0;
    overflow:hidden;
}
.phn-status-bar {
    padding: 5px 0;
    background: #e68523 !important;
}
.float-stn1 {
    width: 33.3333333%;
    float: left;
}
.wrap {
    position:relative;
}
.re-styl1 {
    color: #fff;
    font-size: 16px;
}
.social-icons ul li {
    display: inline-block;
}
.social-icons ul li a {
    font-size: 1em;
    background: #fff;
    padding: 1em 1em;
    color: #000;
    border-radius: 6px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.social-icons {
    text-align: center;
    margin-bottom: 4em;
}
.social-icons ul li a:hover {
    background: #68D0AF;
    color: #fff;
}
h5.pro-link {
    text-align: center;
    color: #fff;
    font-size: 1.4em;
}
.Profile-right i {
    font-size: 16px;
    color: #CCCCCC;
    margin-top: 0.1em;
}
.profile-left i {
    font-size: 22px;
    color: #CCCCCC;
}
.wrapper-dropdown-2, .wrapper-dropdown-3, .wrapper-dropdown-1, .wrapper-dropdown-4, .wrapper-dropdown-5, .wrapper-dropdown-6 {
    position: relative;
    outline: none;
    cursor: pointer;
}
.wrapper-dropdown-1 .dropdown, .wrapper-dropdown-3 .dropdown, .wrapper-dropdown-4 .dropdown, .wrapper-dropdown-2 .dropdown, .wrapper-dropdown-5 .dropdown {
    width:171px;
    top:27px;
    position: absolute;
    right: 17%;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    list-style: none;
    z-index:999;
    background-color: #FFF;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    -o-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.47);
    max-height: 0;
    overflow: hidden;
}
.wrapper-dropdown .dropdown li {
    position: relative;
    /* Enable absolute positioning for checkboxes */
}
.wrapper-dropdown-1 .dropdown li, .wrapper-dropdown-2 .dropdown li, .wrapper-dropdown-3 .dropdown li, .wrapper-dropdown-4 .dropdown li, .wrapper-dropdown-5 .dropdown li, .wrapper-dropdown-6 .dropdown li {
    border-bottom: 1px solid #F0F0F0;
    float: none;
    margin: 0;
    width: 100%;
    text-align: left;
}
.wrapper-dropdown-1 .dropdown li, .wrapper-dropdown-3 .dropdown li, .wrapper-dropdown-4 .dropdown li, .wrapper-dropdown-2 .dropdown li, .wrapper-dropdown-5 .dropdown li, .wrapper-dropdown-6 .dropdown li {
    padding:8px;
}
.wrapper-dropdown-1 .dropdown li:hover, .wrapper-dropdown-2 .dropdown li:hover, .wrapper-dropdown-3 .dropdown li:hover, .wrapper-dropdown-4 .dropdown li:hover, .wrapper-dropdown-5 .dropdown li:hover, .wrapper-dropdown-6 .dropdown li:hover {
    background:#FDFDFD;
}
.wrapper-dropdown-1 .dropdown li:last-child, .wrapper-dropdown-3 .dropdown li:last-child, .wrapper-dropdown-2 .dropdown li:last-child, .wrapper-dropdown-4 .dropdown li:last-child, .wrapper-dropdown-5 .dropdown li:last-child, .wrapper-dropdown-6 .dropdown li:last-child {
    border-bottom:none;
}
.wrapper-dropdown-1 .dropdown li a, .wrapper-dropdown-2 .dropdown li a, .wrapper-dropdown-3 .dropdown li a, .wrapper-dropdown-4 .dropdown li a, .wrapper-dropdown-5 .dropdown li a, .wrapper-dropdown-6 .dropdown li a {
    display: block;
    text-decoration: none;
    color:#232323;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    border-radius: 0;
    border: none;
}
.wrapper-dropdown-1 .dropdown li a:hover, .wrapper-dropdown-2 .dropdown li a:hover, .wrapper-dropdown-3 .dropdown li a:hover, .wrapper-dropdown-4 .dropdown li a:hover, .wrapper-dropdown-5 .dropdown li a:hover {
    color:#a32300;
}
/* Active state */
 .wrapper-dropdown-1.active:after, .wrapper-dropdown-2.active:after, .wrapper-dropdown-3.active:after, .wrapper-dropdown-4.active:after, .wrapper-dropdown-5.active:after {
    border-width: 0 6px 6px 6px;
}
.wrapper-dropdown-1.active .dropdown, .wrapper-dropdown-2.active .dropdown, .wrapper-dropdown-3.active .dropdown, .wrapper-dropdown-4.active .dropdown, .wrapper-dropdown-5.active .dropdown {
    max-height: 400px;
}
.Profile-right span {
    color:#fff;
    font-size:15px;
    height:50px;
    right:0;
}
.menu-notify {
    padding: 0px 0;
    background: #660000;
}

.search {
    background: #a32300;
    border-radius: 5px;
}
.search input[type="search"] {
    border: none;
    outline: none;
    padding: 5px 0px 5px 12px;
    font-size: 14px;
    color: #fff;
    background: none;
    width: 82%;
}
.search form input[type="submit"] {
    background: url(../images/search.png) no-repeat 8px 9px;
    width: 33px;
    height: 32px;
    border: none;
    margin: 0 0 0 -4px;
    padding:0;
    border:none;
    outline:none;
}
.profile-menu {
    margin:0 0;
}
.profile-menu h3 {
    color: #fff;
    font-size: 1.8em;
    margin: 20px 0 10px;
}
.profile-menu a {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
}
.Profile-mid {
    position: absolute;
    left:50%;
    margin-left: -267px;
    top: 1px;
    height: 49px;
    width: 534px;
    text-align: center;
}
    .button-calendar {
        visibility: visible;
    }
    .button-pictures{
       visibility: visible; 
    }
    .button-more {
        visibility: hidden;
    }
    .button-contact{
        visibility: visible; 
    }
    .gray-accent-2{
        visibility: visible;
    }
.wrap-content {
    width: 87%;
    margin: 0 auto;
}
.banner {
    background: url(../images/pic.jpg) no-repeat 0px 65px;
    background-size: contain;
    z-index:80;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    height: 49vw;
    width: 100vw;
    max-height: 754px;
    min-width: 345px;
    text-align: center;
}
.flyer {
    position: static; 
    right: 0; 
    left: 0; 
    margin-right: auto; 
    margin-left: auto; 
    width: 100%; 
    max-width: 900px; 
    height: 140vw; 
    min-height: 475px; 
    max-height: 1260px; 
}
.flyer-holder {
    width: 100%; 
    background-color: #434343;
}
.logoholder {
    position: static; 
    right: 0; 
    left: 0; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 10px;
    margin-bottom: 25px;
    width: 100px; 
    height: 100px;  
}
i.logoholder:hover {
    transform: rotateY(360deg); 
}
.header {
    z-index: 80;
    width: 100vw;
    height: 49vw;
    max-height: 750px;
    min-width: 345px;
}
.glyphicon-home {
    font-size: 2em;
    color: #fff;
    border-radius: 50px;
    border: 5px solid#FFFFFF;
    padding: 1em;
    background: #434343;
}
.banner-text {
    padding-top: 25%;
    padding-bottom: 0;
    height: 80px;
    z-index:80;
}
.banner-text h3 {
    font-size: 2em;
    color: #fff;
}
.banner-text p {
    font-size: 1em;
    color: #eee;
    width: 50%;
    height:120px;
    margin: 0 auto;
    line-height: 1.8em;
    margin-top: 0.5em;
}
.links {
    height: 500px;
    overflow: visible;
}
.place-grid {
    float: left;
    width: 25%;
}
.sel {
    width: 99%;
    padding: .5em 1em;
    font-size: 0.9em;
    margin-top: 1em;
    outline: none;
    text-transform: capitalize;
    border: 1px solid #fff;
    background: #fff;
    color: #000;
    font-weight: 600;
}
.search1 input[type="submit"] {
    width: 100%;
    background: #434343;
    border: none;
    outline: none;
    color: #fff;
    padding: .4em;
}
.place-grid1 {
    width: 15%;
    float: left;
}
.search1 {
    width: 15%;
    float: left;
    margin-top: 2em;
}
.place-grids h5 {
    color: #fff;
    font-size: 1em;
}
.place-grids {
    padding-top: 3em;
}
.updates {
    text-align: center;
    padding: 2em 0;
}
.updates h2 {
    font-size: 2em;
    color: #434343;
    margin-bottom: 1em;
}
.updates-grid {
    float: left;
    width: 33.3%;
}
.updates-grid h4 {
    font-size: 1.4em;
    color: #a32300;
    padding: 0.5em 0;
}
.updates-grid p {
    font-size: 1em;
    line-height:1.8em;
    color: #999;
}
a.button {
    font-size: 1em;
    background: #434343;
    text-decoration: none;
    padding: 0.5em;
    color: #fff;
    display: block;
    width: 80%;
    margin: 1em auto;
}
/* Shutter Out Horizontal */
 .hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.hvr-shutter-out-horizontal:before {
    content:"";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #a32300;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: white;
}
.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.updates-grid:hover img {
    webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
.updates-grid img {
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    -o-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}
.amenitie {
    float: left;
    width: 50%;
}
.amenitie h4 {
    font-size: 1.5em;
    text-transform: capitalize;
    color: #a32300;
    margin-bottom: 0.5em;
}
.amenitie p {
    font-size: 1em;
    line-height: 1.8em;
    color: #999;
    margin-bottom: 0.5em;
}
.amenitie ul li {
    list-style: none;
    line-height: 2em;
    font-size: 1em;
    text-transform: capitalize;
    color: #999;
}
.amenitie ul li strong {
    color: #434343;
    font-family:'Ubuntu', sans-serif;
}
.amenities {
    padding: 0 1em 3em;
}
.links-grid {
    float: left;
    width: 50%;
}
.links-grids {
    margin-top: 3em;
}
/*-- Effect 1--*/
 .links-grid-left span {
    font-size: 1.5em;
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    text-decoration: none;
    z-index: 1;
    padding: 1em;
}
.links-grid-left span:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.effect-1 {
    background: #434343;
    ;
    -webkit-transition: background 0.5s, color 0.2s;
    -moz-transition: background 0.5s, color 0.2s;
    transition: background 0.5s, color 0.2s;
}
.effect-1:after {
    top: -7px;
    left: -7px;
    padding: 7px;
    box-shadow: 0 0 0 2px #a32300;
    -webkit-transition: -webkit-transform 0.5s, opacity 0.2s;
    -webkit-transform: scale(0.8);
    -moz-transition: -moz-transform 0.5s, opacity 0.2s;
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transition: transform 0.5s, opacity 0.2s;
    transform: scale(0.8);
    opacity: 0;
}
.links-grid:hover span {
    background:#a32300;
    color: #fff !important;
}
.links-grid:hover span:after {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
/*--//Effect 1--*/
 .links-grid-right h4 {
    color: #a32300;
    margin-top: 25px;
    font-size: 1.4em;
}
.links-grid-left {
    text-align: right;
    padding-right: 2em;
}
.links-grid-right p {
    font-size: 1em;
    line-height: 2em;
    color: #999;
    margin-top: 0em;
}
.services {
    padding:3em 0 0;
}
.links h3, .team-section h3 {
    font-size: 2em;
    color: #434343;
    text-align: center;
}
/*tab-section--*/
 .tab-prices {
    padding: 3em 0;
}
.left-tab {
    margin-bottom: 1em;
    margin: 0 auto;
    width: 37.3%;
    border: none !important;
}
.left-tab > li > a {
    margin-right: 1px;
    line-height: 1.42857143;
    border: none !important;
    border-radius: 0;
    color: #fff;
    background: #a32300;
    padding: .5em 1em;
    font-size: 1.2em;
    border-radius: 25px;
    font-family:'Ubuntu', sans-serif
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    color: rgb(163, 35, 0);
    background-color: #fff;
}
.left-tab > li.active > a, .left-tab > li.active > a:hover, .left-tab > li.active > a:focus {
    color: #fff;
    cursor: default;
    background-color: #434343;
    border: none !important;
    border-bottom-color: none !important;
}
.popular-grid {
    float: left;
    width: 33.3%;
}
.popular {
    margin-top: 3em;
    position: relative;
}
.commision-left {
    float: left;
    width: 50%;
}
.commision-right {
    float: right;
    width: 50%;
    text-align: right;
    margin-top: 2em;
}
.commision-left p strong {
    display: block;
}
.popular-text h5 {
    font-size: 1.3em;
    color: #a32300;
    padding: 0.8em 0 0.5em;
}
.popular-text a {
    font-size: 1em;
    color: #434343;
    text-decoration: none;
}
.commision {
    padding: 0.5em 0.5em;
}
.commision strong {
    color: #434343;
    font-size: 1.4em;
}
.commision p {
    font-size: 1em;
    line-height: 2em;
    color: #434343;
}
.sale {
    position: absolute;
    top: 0px;
    left: 15px;
    background: #434343;
    font-size: 0.95em;
    text-transform: capitalize;
    padding: 0.5em;
    color: #fff;
}
.count-section {
    text-align: center;
    padding:3em 0;
}
.number-img i {
    font-size: 2em;
    color: #434343;
}
.count-grid {
    float: left;
    width: 25%;
}
.count-grid h4 {
    color: #a32300;
    font-size: 1.4em;
    padding: 0.5em 0;
}
.google-map {
    padding: 0em;
}
.numscroller {
    font-size: 2em;
    color: #434343;
    font-weight: 600;
    font-family:'Ubuntu', sans-serif;
}
.team-grid {
    float: left;
    width: 33.3%;
}
.team-section {
    padding: 3em 0;
    text-align: center;
}
.team-grids {
    margin-top: 3em;
}
.ih-item {
    position: relative;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item, .ih-item * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.ih-item a {
    color: #333;
}
.ih-item a:hover {
    text-decoration: none;
}
.ih-item img {
    width: 100%;
    height: 100%;
}
.ih-item.circle {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 0 auto;
}
.ih-item.circle .img {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}
.ih-item.circle .img:before {
    position: absolute;
    display: block;
    content:'';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: inset 0 0 0 16px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}
.ih-item.circle .img img {
    border-radius: 50%;
}
.ih-item.circle .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ih-item.square {
    position: relative;
    width: 316px;
    height: 216px;
    border: 8px solid #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
.ih-item.square .info {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.ih-item.circle.effect1 .spinner {
    width: 230px;
    height: 230px;
    border: 10px solid rgb(163, 35, 0);
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .img {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    width: auto;
    height: auto;
}
.ih-item.circle.effect1 .img:before {
    display: none;
}
.ih-item.circle.effect1.colored .info {
    background: #1a4a72;
    background: rgba(26, 74, 114, 0.6);
}
.ih-item.circle.effect1 .info {
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 0;
    background: #333333;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.ih-item.circle.effect1 .info h4 {
    color: #fff;
    text-transform: capitalize;
    position: relative;
    letter-spacing: 2px;
    font-size: 1.4em;
    margin: 0 30px;
    padding: 66px 0 0 0;
    height: 110px;
    text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.ih-item.circle.effect1 .info span {
    color: #bbb;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 0.9em;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.ih-item.circle.effect1 a:hover .spinner {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.ih-item.circle.effect1 a:hover .info {
    opacity: 1;
}
.morph {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.morph:hover {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
.team-grid p {
    color: #777;
    font-size: 1em;
    line-height: 2em;
    margin-top: 2em;
    text-align: center;
}
.social-icon {
    margin-top: 2em;
    text-align: center;
}
.social-icon a i {
    width: 32px;
    height: 32px;
    background:#434343 url(../images/img-sprite.png) no-repeat 0px 0px;
    display: inline-block;
    margin:0 0.2em;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border-radius: 16px;
}
.social-icon i.icon:hover {
    background: #a32300 url(../images/img-sprite.png) no-repeat 0px 0px;
    transform: rotateY(360deg);
}
.social-icon i.icon {
    background-position: 0px 0px;
}
.social-icon i.icon1 {
    background-position: -32px 0px;
}
.social-icon i.icon1:hover {
    background: #a32300 url(../images/img-sprite.png) no-repeat -32px 0px;
    transform: rotateY(360deg);
}
.social-icon i.icon2 {
    background-position: -64px 0px;
}
.social-icon i.icon2:hover {
    background: #a32300 url(../images/img-sprite.png) no-repeat -64px 0px;
    transform: rotateY(360deg);
}
.social-icon i.icon3 {
    background-position: -96px 0px;
}
.social-icon i.icon3:hover {
    background: #a32300 url(../images/img-sprite.png) no-repeat -96px 0px;
    transform: rotateY(360deg);
}
.google-map iframe {
    width: 100%;
    height: 340px;
    padding: 0 1em;
}
.contact {
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-top: 3em;
    padding-bottom:3em;
}
.contact h3 {
    padding-bottom: 1em;
    font-size: 2em;
    text-transform: capitalize;
    color: #434343;
    text-align: center;
}
.contact input[type="text"], .contact textarea {
    width: 100%;
    padding: 0.8em;
    font-size: 1em;
    outline: none;
    border: 1px solid #c9c9c9;
    box-shadow: 0 1px 1px white;
}
.contact textarea {
    height: 155px;
    resize: none;
    margin: 1em 0 0;
}
.mail {
    margin: 1em 0;
}
.contact input[type="submit"] {
    font-size: 1em;
    padding: 0.5em 2em;
    color: #fff;
    outline: none;
    border: none;
    background: #434343;
    margin: 1em 0;
    text-transform: capitalize;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.contact input[type="submit"]:hover {
    background: #a32300;
}
/*-- responsive media queries --*/
@media (min-width:1680px) {
    .masthead pdng-stn1 {
     left: ;
  }
}
@media (max-width:886px) {
 /*   
.banner {
    background: url(../images/pic.jpg) no-repeat 0px 60px;
    background-size: contain;
    z-index:80;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -ms-background-size: contain;
    -o-background-size: contain;
    min-height: 400px;
    text-align: center;
    }  
*/ 
}
@media (max-width:785px) {
/*
    .banner {
        min-height: 350px;
    }
*/
}
@media (max-width:736px) {
    .left-tab {
        width: 39%;
    }
    .updates-grid h4, .links-grid-right h4, .count-grid h4 {
        font-size: 1.3em;
    }
    .amenitie h4 {
        font-size: 1.4em;
    }
    .banner-text p, .updates-grid p, .amenitie p, .links-grid-right p, .team-grid p {
        font-size: 0.965em;
    }
    a.button {
        font-size: 0.965em;
    }
    .amenitie ul li {
        font-size: 0.965em
    }
    .commision strong {
        font-size: 1.3em;
    }
    .team-grid {
        float: left;
        width: 32.3%;
    }
    .Profile-mid {
        position: absolute;
        left:50%;
        margin-left: -132px;
        top: 1px;
        height: 49px;
        width: 264px;
        text-align: center;
    }
    .button-calendar {
        visibility: hidden;
    }
    .button-pictures{
       visibility: hidden; 
    }
    .button-more {
        visibility: hidden;
    }
    .button-contact{
        visibility: hidden; 
    }
    .button-more {
        visibility: visible;
    }
    .gray-accent-2{
        visibility: hidden;
    }
    .footer-copywrite-holder {
        visibility: hidden;
        overflow:hidden; 
        float:left; 
        margin-bottom: 20px; 
        margin-left:-274.4px; 
        margin-right:-274.4px; 
        margin-top: 112px; 
        width:549px; 
        height: 14px;
    }
    .footer-logo {
        visibility: hidden;
        float:right;
        right: 0px;
        margin-left: 20px;
        margin-right: 50px;
        margin-top: 21px;
        width: 162px;
        height: 85px;
    }
    .footer-copywrite {
        visibility: hidden;
        position:absolute;
        left:50%;
        margin-bottom: 0px;
        margin-left:-274.4px;
        margin-right:-274.4px;
        width:549px;
        height: 14px;
    }
    .footer-contact-holder {
        position: relative; 
        left: 50%;
        margin-left: -185px; 
        margin-right: -20px; 
        margin-top: 15px; 
        width: 371px; 
        height: 115px;
    }
    .footer-contact {
        float: left;
        max-width: 371px;
        max-height: 115px;
    }
    .footer-fb-buttons {
        position: relative; 
        left: 50%;
        height:65px; 
        width: 22px; 
        margin-left: -10px;
        margin-top: 45px; 
        margin-right: 4px; 
        margin-bottom: 10px;
    }
    .footer-fb-chair {
        position: relative; 
        top: 0px; 
        left: 0px; 
        margin-right:4px; 
        margin-bottom: 12px; 
        width: 22px; 
        height: 22px;
    }
    .footer-fb-vicechair {
        top: 0px; 
        position: relative; 
        left: 0px; 
        margin-right:4px; 
        margin-left: 0px; 
        width: 22px; 
        height: 22px;
    }
    .footer-email-buttons {
        position: relative; 
        left: 50%;
        height:65px; 
        width: 22px; 
        margin-top: 45px; 
        margin-left:0px; 
        margin-bottom: 10px;
    }
    .footer-email-chair {
        top: 0px; 
        position: relative; 
        margin-bottom: 12px; 
        width: 22px; 
        height: 22px;
}
    .footer-email-vicechair {
        position: relative; 
        margin-left: 0px; 
        width: 22px; 
        height: 22px; 
        top: 0px;
    }
}
@media (max-width: 682px) {
/*
    .banner-text {
        padding-top: 8em;
        padding-bottom:3.5em;
    }
*/
/*
    .banner {
    background: url(../images/pic.jpg) no-repeat 0px 60px;
    background-size: cover;
    z-index:80;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    min-height: 0px;
    text-align: center;
    } 
*/
}
@media (max-width: 667px) {
/*
    .banner-text p {
        width: 52%;
    }
*/
    .left-tab {
        width: 43%;
    }
    .team-grid {
        float: left;
        width: 100%;
    }
    .team-grid p {
        padding: 0 6em;
    }
    .team-grid:nth-child(2) {
        margin: 2em 0;
    }
    .popular-text h5 {
        font-size: 1.2em;
    }
    .links-grid-left span {
        font-size: 1.3em;
    }
}
@media (max-width: 640px) {
/*
    .banner-text {
        padding-top: 9em;
        padding-bottom:5.5em;
    }
*/
    .banner-text p {
        width: 75%;
    }
/*
    .banner {
    background: url(../images/pic.jpg) no-repeat -160px 60px;
    background-size: cover;
    z-index:80;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    min-height: 370px;
    text-align: center;
}
*/
    .left-tab {
        width: 44.8%;
    }
    .popular-text h5 {
        font-size: 1.16em;
    }
    .contact textarea {
        height: 200px;
    }
    .banner-text h3 {
        font-size: 1.8em;
    }
    .form {
    margin-top: 35px;
    margin-left: 0px;
    position: absolute;
    left: 50%;
    top: 70px;
    z-index:1003;
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 75%;
    padding: 20px;
    overflow: hidden;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    }
}
@media (max-width: 600px) {
    .links-grid {
        float: left;
        width: 100%;
    }
    .links-grid:nth-child(2) {
        margin-top: 2em;
    }
    .left-tab {
        width: 48%;
    }
    .popular-text h5 {
        font-size: 1.05em;
    }
    .popular-text a {
        font-size: 0.94em;
    }
    .sel {
        width: 100%;
    }
}
@media (max-width: 568px) {
/*
    .banner {
        background: url(../images/pic.jpg) no-repeat 0px 60px;
        background-size: cover;
        min-height: 270px;
    }
*/
/*
    .banner-text p {
        width: 70%;
    }
    .banner-text {
        padding-top: 7em;
        padding-bottom: 1.5em;
    }
*/
    .sel {
        width: 100%;
    }
    .place-grid {
        float: left;
        width: 50%;
    }
    .place-grid1 {
        width: 30%;
        float: left;
        margin-top: 1em;
    }
    .search1 {
        width: 40%;
        margin-top: 3em;
    }
    a.button {
        width: 80%;
    }
    .left-tab {
        width: 50.4%;
    }
    .popular-text h5 {
        font-size: 1em;
    }
    .links-grids {
        margin-top: 2em;
    }
}
@media (max-width: 480px) {
    .updates-grid p, .amenitie p, .links-grid-right p, .team-grid p {
        font-size: 0.95em;
    }
    .banner-text {
        padding-top:22%;
    }
    .updates h2 {
        font-size: 1.8em;
    }
    .updates-grid h4, .links-grid-right h4, .count-grid h4 {
        font-size: 1.2em;
        line-height: 1.3em;
    }
    a.button {
        font-size: 0.95em;
        width: 90%;
    }
    .amenitie ul li {
        font-size: 0.9em;
    }
    .amenities {
        padding: 0 1em 2em;
    }
    .services {
        padding: 2em 0 0;
    }
    .links h3, .team-section h3, .contact h3 {
        font-size: 1.8em;
    }
    .left-tab > li > a {
        font-size: 1em;
    }
    .left-tab {
        width: 50.1%;
    }
    .popular-grid {
        float: left;
        width: 100%;
    }
    .popular-grid:nth-child(2) {
        margin: 2em 0;
    }
    .popular {
        margin-top: 2em;
    }
    .popular-text h5 {
        font-size: 1.15em;
    }
    .commision strong {
        font-size: 1.2em;
    }
    .team-section {
        padding: 2em 0
    }
    .team-grids {
        margin-top: 2em;
    }
    .count-section {
        padding: 2em 0;
    }
    .numscroller {
        font-size: 1.5em;
    }
    .login-button {
    display: block;
    position: absolute;
    left: 13px;
    height: 23px;
    width:69px;
    margin-top:50px;
    top: 27px;
    margin-bottom: 0px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    }
    .login-button-new {
    display: none;
    position: absolute;
    left: 13px;
    height: 23px;
    width:69px;
    margin-top:50px;
    top: 27px;
    margin-bottom: 0px;
    opacity: 0.4;
    filter: alpha(opacity=40);
    }
    .form {
    margin-top: 35px;
    margin-left: 0px;
    position: absolute;
    left: 50%;
    top: 70px;
    z-index:1003;
    -moz-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
    width: 350px;
    padding: 20px;
    overflow: hidden;
    background-color: black;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
}
@media (max-width: 414px) {
    .header {
        min-height: 238px;
    }
    .banner-text {
        padding-top:25%;
    }
    .banner {
        background: url(../images/pic.jpg) no-repeat 0px 65px;
        background-size: contain;
        min-height: 238px;
    }
    .updates-grid {
        width: 100%;
    }
    .updates-grid:nth-child(3) {
        margin: 2em 0;
    }
    .banner-text p {
        width: 70%;
    }
    .amenitie {
        float: left;
        width: 100%;
    }
    .amenitie:nth-child(2) {
        margin: 2em 0 0;
    }
    .left-tab {
        width: 58.1%;
    }
    .contact {
        padding: 1em;
    }
    .links-grid-left {
        text-align: center;
        width: 100%;
    }
    .links-grid-right {
        width: 100%;
        text-align: center;
        margin-top: 1em;
    }
    .left-tab {
        width: 75.1%;
    }
    .team-grid p {
        padding: 0 1em;
    }
    .count-grid {
        float: left;
        width: 50%;
    }
    .count-grid:nth-child(3), .count-grid:nth-child(4) {
        margin: 2em 0 0;
    }
    .contact textarea {
        height: 150px;
    }
    .form {
        margin-top: 35px;
        margin-left: 0px;
        position: absolute;
        left: 50%;
        top: 70px;
        z-index:1003;
        -moz-transform: translate3d(-50%, 0, 0);
        -ms-transform: translate3d(-50%, 0, 0);
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
        width: 85%;
        padding: 20px;
        overflow: hidden;
        background-color: black;
        border: 1px solid rgba(255, 255, 255, 0.5);
        -moz-border-radius: 12px;
        -webkit-border-radius: 12px;
        border-radius: 12px;
    }
    .footer-accent {
        top: 0px;
        opacity: 1; 
        position: relative; 
        left: calc(-50vw + 50%); 
        width: 100vw; 
        margin-bottom: 10px; 
        bottom: 0px; 
        height: 4px; 
        background-color: rgb(163, 35, 0); 
        box-shadow: rgba(0, 0, 0, 0.2) 1px 0px 7px 0px;
    }
    .footer-accent-hold {
        margin-top: 8px; 
        position:relative; 
        left: 0px; bottom: 30px; 
        height: 4px; 
        width:100%;
    }
    .footer-fb-buttons {
        float:left; 
        height:65px; 
        width: 22px; 
        margin-top: 45px; 
        margin-right: 4px; 
        margin-bottom: 10px;
        margin-left:-10px;
    }
    .footer-fb-chair {
        position: relative; 
        top: 0px; 
        left: 0px; 
        margin-right:4px; 
        margin-bottom: 12px; 
        width: 22px; 
        height: 22px;
    }
    .footer-fb-vicechair {
        top: 0px; 
        position: relative; 
        left: 0px; 
        margin-right:4px; 
        margin-left: 0px; 
        width: 22px; 
        height: 22px;
    }
    .footer-email-buttons {
        float:left; 
        height:65px; 
        width: 22px; 
        margin-top: 45px; 
        margin-left:2px; 
        margin-bottom: 10px;
    }
    .footer-email-chair {
        top: 0px; 
        position: relative; 
        margin-bottom: 12px; 
        width: 22px; 
        height: 22px;
    }
    .footer-email-vicechair {
        position: relative; 
        margin-left: 0px; 
        width: 22px; 
        height: 22px; 
        top: 0px;
    }
}
@media (max-width: 404px){
        .footer-email-buttons {
             visibility: hidden;   
        }
}
@media (max-width: 384px) {
/*
    .banner-text p {
        width: 89%;
    }
*/
    .banner-text {
        padding-top:29%;
    }
    .header {
        min-height: 230px;
    }

    .banner {
        background: url(../images/pic.jpg) no-repeat 0px 65px;
        background-size: contain;
        min-height: 230px;
    }
    .count-section {
        padding: 1em 0;
    }
    .footer-email-buttons {
        visibility: hidden;
    }
}
@media (max-width: 375px) {
    .header {
        min-height: 220px;
    }

    .banner {
        background: url(../images/pic.jpg) no-repeat 0px 65px;
        background-size: contain;
        min-height: 300px;
    }
    .banner-text h3 {
        font-size: 1.5em;
    }
    .banner-text p {
        width: 89%;
    }
    .updates h2 {
        font-size: 1.8em;
        margin-bottom: 0.5em;
    }
    .updates-grid:nth-child(3) {
        margin: 1em 0;
    }
    .amenitie:nth-child(2) {
        margin: 1em 0 0;
    }
    .links-grids {
        margin-top: 1em;
    }
    .services {
        padding: 1em 0 0;
    }
    .links-grid:nth-child(2) {
        margin-top: 1em;
    }
    .popular-grid:nth-child(2) {
        margin: 1em 0;
    }
    .team-grid:nth-child(2) {
        margin: 1em 0;
    }
    .count-section {
        padding: 1em 0;
    }
    .footer-email-buttons {
        visibility: hidden;
    }
    .ieee-header {
    position: absolute;
    left: 10px;
    }
}
@media (max-width: 320px) {
/*
    .banner {
        background: url(../images/pic.jpg) no-repeat -170px 45px;
        background-size: cover;
    }
*/
    .updates {
        padding: 1em 0;
    }
    .left-tab {
        width: 77.2%;
    }
/*
    .banner-text h3 {
        font-size: 1.5em;
    }
*/
    .footer-email-buttons {
        visibility: hidden;
    }
    .footer-fb-buttons {
        visibility: visible;
    }
}